@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Pacifico&display=swap');

:root {
  --speed: 48s;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

.landing {
  margin: 0 !important;
  position: initial;
  z-index: -2;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 14vmin;
  pointer-events: none;
  fill: rgba(0,172,193,1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



