:root {
  --background-color: teal;
}

#rainbow-background {
  height: 5000px;
}

.parent {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 35px 20px 20px 20px;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
}

.static {
  margin-left: 25%;
  margin-right: 25%;
}

.picture-container {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: outset;
}

.info-box {
  width: 250px;
  padding: 25px;
  border: outset;
  background-color: var(--background-color);
}
